@import "./common/variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  &.pen {
    cursor: url("./assets/img/pen.png") 0 25, auto;
  }

  &.rect,
  &.circle,
  &.line {
    cursor: crosshair;
  }

  &.eraser {
    cursor: url("./assets/img/eraser.png") 0 25, auto;
  }
}

.app {
  height: 100vh;
  width: 100%;
  background-color: $background-color;
}
